body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container {
    max-width: 75% ;
    margin: -3% auto;
    padding: 20px;
    border: 3px solid #00c441;
    border-radius: 10px;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    margin-top: 20%;
    text-align: center;
    color: #00c441;
    font-size: 44px;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
}

input[type="number"] {
    width: 30%;
    padding: 18px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 35%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}

#loading {
    text-align: center;
    display: none;
}

#loading::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading{
    margin-left: 45%;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 60px;
    width: 60px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

#resultadoSorteio {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 30px;
}

.popup {
    width: 100% ;
    margin-top: -450px;
    padding: 200px 10px;
    position: fixed;
    display: none;
    background-color: #000;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto;
    text-align: center;
}

/* Estilo para o botão de fechar */
.fechar {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #000 ;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    

}
.fechar:hover {
    background-color: #a2c9f317;
}

/* Estilo para o botão */
.btn {
    margin-top: 25px;
    margin-left: 55px;
    background-color: #000000;
    color: #00c441;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.btn:hover {
    background-color: #a2c9f317;
}

footer{
    font-size: 12px;
    text-align: center;
    padding: 20% 0;
    color: #ccc;
}
